html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.results-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.results {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

form {
    margin-top: auto;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.popup-form-group {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

label {
    width: 130px;
    text-align: center;
    margin-right: 30px;
    font-size: 20px;
}

input[type="number"] {
    width: 160px;
    padding: 5px;
}

.radio-button-labels {
    text-align: left;
}

.text-input-labels {
    text-align: left;
    margin-top: 8px;
}

.shadow {
    text-shadow: 2px 2px 4px rgba(0,0,0,0);
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button-group button {
    flex: 1;
}

button {
    display: block;
    width: 100%;
    margin: 20px 0 0;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 12px;
}

.button-group #submitButton {
    background-color: #4CAF50; /* Green */
}

.button-group #submitButton:hover {
    background-color: #45a049;
}

.button-group #calculateButton {
    background-color: #008CBA; /* Blue */
}

.button-group #calculateButton:hover {
    background-color: #007B9E;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
  }

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 1;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 0.8;
}

/* Pop up form dropdown width */
.select2-selection__rendered {
    width: 145px;
}

.select2-selection {
    height: auto !important;
}


@media (max-height: 600px) {
    .container {
        justify-content: flex-end;
    }
    
    .results-container {
        flex-grow: 0;
    }
}

@media (max-width: 480px) {
    .results {
        font-size: 40px;
    }
}