<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        {% include("_navigation.html") %}
    </header>

    <!-- Main Content -->
    <div class="container mt-4">
        <h1>Welcome to Your Dashboard, {{ current_user.username }}!</h1>
        <p>This is your personalized dashboard where you can view and manage your content.</p>
    </div>

</body>

</html>