<!DOCTYPE html>
<html>

<head>
    <title>Pictures</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            align-items: center;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            background-color: #f4f4f4;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-size: 48px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <header>
        {% include("_navigation.html") %}
    </header>
    <div class="container">
        <p>Under Construction</p>
    </div>
</body>

</html>