<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIU Phoenix Score Converter - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>PIU Score Converter</h1>
        <div class="results-container">
            <div id="grade" class="results">SSS+</div>
            <div id="plate" class="results">PG</div>
            <div id="score" class="results">1,000,000</div>
        </div>
        <form id="scoreForm">
            <div class="form-group">
                <label for="perfect">Perfect</label>
                <input type="number" id="perfect" name="perfect" required min="0">
            </div>
            <div class="form-group">
                <label for="great">Great</label>
                <input type="number" id="great" name="great" required min="0">
            </div>
            <div class="form-group">
                <label for="good">Good</label>
                <input type="number" id="good" name="good" required min="0">
            </div>
            <div class="form-group">
                <label for="bad">Bad</label>
                <input type="number" id="bad" name="bad" required min="0">
            </div>
            <div class="form-group">
                <label for="miss">Miss</label>
                <input type="number" id="miss" name="miss" required min="0">
            </div>
            <div class="form-group">
                <label for="max_combo">Max Combo</label>
                <input type="number" id="max_combo" name="max_combo" required min="0">
            </div>
            <div class="button-group">
                <button type="button" class="open-button" onclick="openForm()" id="submitButton">Submit</button>
                <button type="submit" id="calculateButton">Calculate</button>
            </div>
            <div class="form-popup" id="myForm">
                <form action="/action_page.php" class="form-container">
                  <h1>Login</h1>
              
                  <label for="email"><b>Email</b></label>
                  <input type="text" placeholder="Enter Email" name="email" required>
              
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" required>
              
                  <button type="submit" class="btn">Login</button>
                  <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
              </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/updateResult.js') }}"></script>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
</body>
</html>